body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
#div1, #div2{
    width: 600px;
    height: 400px;
    border: 2px solid red;
    margin: 0 auto;
}
div img{
      width: 100%;  
}